<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="row">
                    <div class="col-6">
                        <h3>Outsourcing Services</h3>
                        <ul class="footer-links">
                            <li><a href="/outsourcing/custom-software-development-services" title="Custom Software Development Provider Company">Custom Software Development</a></li>
                            <li><a href="/outsourcing/ecommerce-development-company" title="Ecommerce Development Provider Company">E-commerce</a></li>
                            <li><a href="/outsourcing/mobile-app-development-company" title="Mobile App Development Provider Company">Mobile App</a></li>
                            <li><a href="/outsourcing/digital-marketing-services" title="Digital Marketing Services Provider Company">Digital Marketing</a></li>
                            <li><a href="/outsourcing/software-consulting-services" title="Software Consulting Services Provider Company">Software Consulting</a></li>
                            <li><a href="/outsourcing/website-development-company" title="Website Development Provider Company">Web Development</a></li>
                            <li><a href="/outsourcing/software-testing-company" title="Software Testing Company">Software Testing</a></li>
                            <li><a href="/outsourcing/internet-of-things-development-company" title="Internet of Things Development Provider Company">Internet of Things</a></li>                            
                        </ul>
                    </div>
                    <div class="col-6">
                        <h3>Hire Developers</h3>
                        <ul class="footer-links">
                            <li><a href="/hire-aspnet-developers" title="Hire ASP.NET Developer">ASP.NET</a></li>
                            <li><a href="/hire-android-developers" title="Hire Android Developer">Android</a></li>
                            <li><a href="/hire-iphone-developers" title="Hire iPhone Developer">iOS</a></li>
                            <li><a href="/hire-ipad-app-developers" title="Hire iPad App Developer">iPad App</a></li>
                            <li><a href="/hire-wordpress-programmers" title="Hire Wordpress Developer">WordPress</a></li>
                            <li><a href="/hire-python-developers" title="Hire Python Developer">Python</a></li>
                            <li><a href="/hire-angular-js-developers" title="Hire Angular JS Developer">AngularJS</a></li>
                            <li><a href="/hire-reactjs-developers" title="Hire React JS Developer">ReactJS</a></li>
                        </ul>
                    </div>
                </div>
                <h3 class="mt-3">Company</h3>
                <div class="row">
                    <div class="col-6">
                        <ul class="footer-links">
                            <li><a href="/about-us" title="About Us">About Us</a></li>
                            <li><a href="/awards-certifications" title="Awards">Awards</a></li>
                            <li><a href="/partnership" title="Partner with Us">Partner with Us</a></li>
                            <li><a href="/reviews" title="Testimonials">Testimonials</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="footer-links">
                            <li><a href="/portfolio" title="Portfolio">Portfolio</a></li>
                            <li><a href="/career" title="Career">Career</a></li>
                            <li><a href="/blog" title="Blog">Blog</a></li>
                            <li><a href="/contact" title="Contact Us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5">
                <div class="address-box address-india">
                    <h3>India</h3>
                    <address>
                        B-801, The First, <br>B/H Keshavbaug, Vastrapur, <br>Ahmedabad, Gujarat 380015
                    </address>
                    <a href="tel:+917940327195" title="Call us">+91 794 032 7195</a>
                </div>
                <div class="address-box address-canada">
                    <h3>Canada</h3>
                    <address>
                        Suite#102, <br>1785 Baseline Road, Ottawa, <br>Ontario, Canada K2C 0C1
                    </address>
                    <a href="tel:+1 540 404 5858" title="Call us">+1 540 404 5858</a>
                </div>
                <div class="address-box address-usa">
                    <h3>USA</h3>
                    <address>
                        14720 E. <br>44th St. S. Independence, <br>MO, USA 64055
                    </address>
                    <a href="tel:+1 540 404 5858" title="Call us">+1 540 404 5858</a>
                </div>
            </div>
        </div>
        <div class="marquee"><p><span>Countries We Serve :</span> India - United Kingdom - USA - Canada - Australia - South Africa - New Zealand - Singapore - Italy - France - Denmark - Germany - Saudi Arabia - Dubai - UAE - Qatar</p></div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 copy-right">
                    <ul><li><a href="/sitemap" title="Sitemap">Sitemap</a></li><li><a href="/terms-of-use" title="Terms of Use">Terms of Use</a></li><li><a href="/privacy-statement" title="Privacy Statement">Privacy Statement</a></li></ul>
                    <p>Copyright &copy; 2021 The One Technologies. All rights reserved.</p>
                </div>
                <div class="col-lg-7 text-right">
                    <div class="social-madia">
                        <a href="https://www.facebook.com/TheOneTechnologies" target="_blank" title="Like us on Facebook" class="fa-facebook">facebook</a>
                        <a href="https://twitter.com/TheOne_Tech" target="_blank" title="Follow us on Twitter" class="fa-twitter">twitter</a>
                        <a href="https://www.instagram.com/theone_technologies" target="_blank" title="Follow us on Instagram" class="fa-instagram">instagram</a>
                        <a href="https://www.linkedin.com/company/the-one-technologies/" target="_blank" title="Connect with us on LinkedIn" class="fa-linkedin">linkedin</a>
                        <a href="https://www.pinterest.com/theonetechnologies/" target="_blank" title="Follow us on pinterest" class="fa-pinterest">pinterest</a>
                        <a href="https://www.youtube.com/channel/UCw-lD_GPidiKFhyflP0_CwA?rel=0" target="_blank" title="Subscribe us on Youtube" class="fa-youtube">youtube</a>
                        <a href="https://dribbble.com/theonetechnologies" target="_blank" title="Follow us on Dribbble" class="fa-dribbble">dribbble</a>
                        <a href="https://www.behance.net/TheOneTechnologies" target="_blank" title="Follow us on Behance" class="fa-behance">behance</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
