<header class="header">
    <div class="container">
        <!-- <a href="/" title="The One Technologies - Software Company" class="logo"><img src="/src/assets/images/20210113081510_IMG_1029.JPG"  width="250" height="66"></a> -->
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
<nav class="main-navigation">
    <ul>
        <li class="has-sub ">
            <a href="#" title="Company" class="main-menu"><b>Home</b></a>
        </li>
        <li class="has-sub ">
            <a href="#" title="Our Expertise" class="main-menu">Products</a>
            <ul class="is-sub sub-menu">
                <li><a href="/educational-software-company" title="Custom Educational Software Development">Education</a></li>
                <li><a href="/healthcare-software-company" title="Custom Healthcare Software Development">Healthcare</a></li>
                <li><a href="/travel-hospitality-software-company" title="Custom Travel Hospitality Software Development">Travel & Hospitality</a></li>
                <li><a href="/banking-finance-software-company" title="Custom Financial Software Development">Banking & Finance</a></li>
                <li><a href="/sports-software-company" title="Custom Sports Software Development">Sports</a></li>
                <li><a href="/custom-retail-software-company" title="Custom Retail Software Development">Retail</a></li>
            </ul>
        </li>
        <li class="has-sub ">
            <a href="#" title="Our Expertise" class="main-menu">Support</a>
            <ul class="is-sub sub-menu">
                <li><a href="/educational-software-company" title="Custom Educational Software Development">Education</a></li>
                <li><a href="/healthcare-software-company" title="Custom Healthcare Software Development">Healthcare</a></li>
                <li><a href="/travel-hospitality-software-company" title="Custom Travel Hospitality Software Development">Travel & Hospitality</a></li>
                <li><a href="/banking-finance-software-company" title="Custom Financial Software Development">Banking & Finance</a></li>
                <li><a href="/sports-software-company" title="Custom Sports Software Development">Sports</a></li>
                <li><a href="/custom-retail-software-company" title="Custom Retail Software Development">Retail</a></li>
            </ul>
        </li>
        <li class="has-sub ">
            <a href="#" title="Our Expertise" class="main-menu">our store</a>
            <ul class="is-sub sub-menu">
                <li><a href="/educational-software-company" title="Custom Educational Software Development">Education</a></li>
                <li><a href="/healthcare-software-company" title="Custom Healthcare Software Development">Healthcare</a></li>
                <li><a href="/travel-hospitality-software-company" title="Custom Travel Hospitality Software Development">Travel & Hospitality</a></li>
                <li><a href="/banking-finance-software-company" title="Custom Financial Software Development">Banking & Finance</a></li>
                <li><a href="/sports-software-company" title="Custom Sports Software Development">Sports</a></li>
                <li><a href="/custom-retail-software-company" title="Custom Retail Software Development">Retail</a></li>
            </ul>
        </li>
        <li class="contact-btn"><a href="/user/registration" title="Contact Us"><span>login</span></a></li>
    </ul>
</nav>
</div>
</header>
<div>
